Repository DeForce/LalkaChat: changes, and which Jenkins stages are due for each by the changed paths.
All: Themes, Chat

Themes:
                      steps {
                          echo 'Testing themes'
                      }
                  

Chat:
                      steps {
                          echo 'Testing Chat'
                      }
                  

LC-540 Categorize system messages and their filters
  modules/chat/sc2tv.py
  modules/helper/message.py
  modules/helper/module.py
  modules/helper/system.py
  modules/interface/types.py
  modules/message_handler.py
  modules/messaging/blacklist.py
  modules/messaging/logger.py
  modules/messaging/webchat.py
  src/themes/default/assets/settings.json
  src/themes/default/assets/settings_format.json
  src/themes/default/assets/settings_ui.json
  translations/en/webchat.key
  translations/ru/webchat.key
Due: Themes, Chat

LC-524 Move to new twitch api
  modules/chat/twitch.py
Due: Chat

LC-534 Limit Messages
  modules/chat/sc2tv.py
  modules/interface/types.py
  src/themes/default/app/app.js
  src/themes/default/assets/settings.json
  src/themes/default/assets/settings_ui.json
  translations/en/webchat.key
  translations/ru/webchat.key
Due: Themes, Chat

LC-547 Fix Level Algorithm
  modules/messaging/levels.py
Due: Chat

LC-548 Add Highlight support on twitch
  modules/chat/twitch.py
  modules/helper/message.py
  modules/interface/controls.py
  modules/interface/types.py
  modules/main.py
  modules/messaging/webchat.py
  src/themes/default/assets/css/style.scss
  src/themes/default/assets/index.html
  src/themes/default/assets/settings.json
  src/themes/default/assets/settings_format.json
  src/themes/default/assets/settings_ui.json
  src/themes/default/assets/translations/en
  src/themes/default/assets/translations/ru
  translations/en/webchat.key
  translations/ru/webchat.key
Due: Themes, Chat

LC-542 Update cefPython
  requires_windows.txt
Due: none

LC-537 Fix message deletion
  modules/messaging/webchat.py
  src/jenkins/build_themes.sh
  src/themes/default/package-lock.json
Due: Themes, Chat

LC-560 Fix websocket reconnnect
  src/themes/default/app/app.js
Due: Themes

fix theme generation and better docker containers
  docker/runner/Dockerfile
Due: none

update versions
  src/themes/default/package-lock.json
  src/themes/default/package.json
Due: Themes

reborn stuff
  src/themes/default/app/app.js
Due: Themes

dwqdqwd
  src/themes/default/app/app.js
  src/themes/default/assets/css/style.css
  src/themes/default/assets/img/sources/lalkachat.png
  src/themes/default/assets/index.html
  src/themes/default/assets/index.vue
  src/themes/default/assets/settings.json
  src/themes/default/assets/settings_format.json
  src/themes/default/assets/settings_ui.json
  src/themes/default/config/webpack.common.js
Due: Themes

dwqdqwd
  src/themes/default/app/app.js
  src/themes/default/assets/index.vue
  src/themes/default/assets/settings.json
  src/themes/default/package-lock.json
Due: Themes

hujnja
  src/themes/default/app/app.js
  src/themes/default/assets/index.vue
  src/themes/default/assets/settings.json
Due: Themes

Fix encoding issues with Russian Language
  modules/chat/cyoutube.py
  modules/helper/parser.py
  modules/helper/system.py
  modules/helper/updater.py
  modules/messaging/df.py
  modules/messaging/webchat.py
Due: Chat

Add opacity for special messages and BTTV fixed
  modules/chat/twitch.py
  src/themes/default/app/app.js
  src/themes/default/assets/css/style.scss
  src/themes/default/assets/settings.json
  src/themes/default/assets/settings_format.json
  src/themes/default/assets/settings_ui.json
  translations/en/webchat.key
  translations/ru/webchat.key
Due: Themes, Chat

Change DF Module to better
  modules/messaging/df.py
Due: Chat

Path conditions:
  Themes: any of: src/themes/**
  Chat: any of: modules/**
